<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title th:text="${title}"></title>
</head>
<body>
	<h1 th:text="${title}"></h1>

	<span th:if="${usuarios.isEmpty()}">Não há usuários registrados!</span>

	<table th:if="${!usuarios.isEmpty()}">
		<thead>
		<tr>
			<th>Name</th>
			<th>Lastname</th>
			<th>Email</th>
		</tr>
		</thead>

		<tbody>
		<tr th:each="usuario: ${usuarios}">
			<td th:text="${usuario.name}"></td>
			<td th:text="${usuario.lastname}"></td>
			<td th:text="${usuario.email}"></td>
		</tr>
		</tbody>

	</table>

</body>
</html>
