<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title th:text="${title}"></title>
</head>
<body>
<h1 th:text="${title}"></h1>

<span th:if="${users.isEmpty()}">Não há usuários registrados!</span>

<table th:if="${!users.isEmpty()}">
	<thead>
	<tr>
		<th>Name</th>
		<th>Lastname</th>
		<th>Email</th>
	</tr>
	</thead>

	<tbody>
	<tr th:each="user: ${users}">
		<td th:text="${user.name}"></td>
		<td th:text="${user.lastname}"></td>
		<td th:text="${user.email}"></td>
	</tr>
	</tbody>

</table>

</body>
</html>
