.lista-notas {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
}

.lista-notas_item {
	background-color: white;
	border: 1px solid var(--terciaria);
	margin: 5px;
	width: 300px;
	border-radius: 6px;
	height: 200px;
	display: flex;
	box-shadow: 0px 4px 10px -8px rgba(0,0,0,0.6);
	transition: all .3s;
}

.lista-notas_item:hover {
	box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.2);
	transition: all .3s;
}

.lista-notas_item_secion {
	width: 100%;
	margin: 10px;
}

.lista-notas_item_secion_header {
	background-color: var(--secundaria);
	padding: 2px 10px;
	border-radius: 6px;
}

.lista-notas_item_secion_header_title {
	font-size: 0.9rem;
	font-weight: 400;
	color:#555;
}


.lista-notas_item_secion_text {
	font-size: 0.8rem;
	color:#555;
	border: 1px solid var(--secundaria);
	padding:10px;
	height: 80px;
}
